---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
---

<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Anirudh Pratap Sah (APS)</title>
        <meta
            name="description"
            content="I'm Anirudh Pratap Sah (APS), A selftaught fullstack web developer from India who loves to build things.
You searched for 'Anirudh Pratap Sah' which is not the right spelling. Click to go to the right page. "
        />
        <meta
            name="keywords"
            content="Anirudh, Anirudh Pratap Sah, Anirudh Sah, Anirudh P Sah"
        />
        <meta
            property="og:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="og:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="og:image"
            content="https://anirudha.pro/openGraph.png"
        />
        <meta property="og:url" content="https://anirudha.pro/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="twitter:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="twitter:image"
            content="https://anirudha.pro/openGraph.png"
        />
    </head>
    <body class="bg-white text-black font-poppins">
        <main
            class="h-screen w-full flex flex-col justify-center items-center bg-[#1A2238]"
        >
            <h1 class="text-9xl font-extrabold text-white tracking-widest">
                404
            </h1>
            <div class="bg-[#FF6A3D] px-2 text-sm rounded rotate-12 absolute">
                Page Not Found
            </div>
            <button class="mt-5">
                <a
                    href="/"
                    class="relative inline-block text-sm font-medium text-[#FF6A3D] group active:text-orange-500 focus:outline-none focus:ring"
                >
                    <span
                        class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-[#FF6A3D] group-hover:translate-y-0 group-hover:translate-x-0"
                    ></span>

                    <span
                        class="relative block px-8 py-3 bg-[#1A2238] border border-current"
                    >
                        <div>Go Home</div>
                    </span>
                </a>
            </button>
        </main>
    </body>
</html>
