---
import { Image } from "astro:assets";
import Logo from "../images/logo.webp";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
---

<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Anirudh Pratap Sah (APS)</title>
        <meta
            name="description"
            content="I'm Anirudh Pratap Sah (APS), A selftaught fullstack web developer from India who loves to build things.
You searched for 'Anirudh Pratap Sah' which is not the right spelling. Click to go to the right page. "
        />
        <meta
            name="keywords"
            content="Anirudh, Anirudh Pratap Sah, Anirudh Sah, Anirudh P Sah"
        />
        <meta
            property="og:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="og:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="og:image"
            content="https://anirudha.pro/openGraph.png"
        />
        <meta property="og:url" content="https://anirudha.pro/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="twitter:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="twitter:image"
            content="https://anirudha.pro/openGraph.png"
        />
    </head>
    <body class="bg-black text-white font-inter">
        <div class="fixed top-0 left-0 right-0 z-50 pt-2 px-2 xl:px-0">
            <div class="w-full max-w-7xl m-auto flex gap-2">
                <nav
                    class="bg-black text-white dark:bg-[#1F1F1F] flex flex-1 px-5 py-2 rounded-full justify-between items-center"
                >
                    <a href="/" class="flex items-center gap-3">
                        <Image
                            class="rounded-full w-10 h-10"
                            loading="eager"
                            src={Logo}
                            alt="Anirudha Sah Logo"
                            width="100"
                            height="100"
                        />
                        <span class="text-2xl md:text-3xl font-semibold"
                            >APS</span
                        >
                    </a>
                    <ul class="flex gap-4 sm:gap-7 text-lg">
                        <li><a href="https://github.com/APS6">Github</a></li>
                        <li class="hidden sm:block">
                            <a href="https://chat.anirudha.pro">Chat</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <main class="h-screen w-full grid place-items-center">
            <div class="text-center max-w-3xl px-4">
                <h1 class="text-3xl sm:text-5xl font-medium">
                    Hey, it's Anirudha Pratap Sah
                </h1>
                <p class="md:text-lg mt-3">
                    You are here because you searched for 'Anirudh Pratap Sah'
                    but the correct spelling is 'Anirudha'. Click the button
                    below to go the right site.
                </p>
                <a href="/">
                    <button
                        class="bg-[#72A6BC] text-black text-xl mt-4 py-3 px-6 rounded-2xl"
                        >Go to main site</button
                    ></a
                >
            </div>
        </main>
        <div class="px-2 max-w-6xl mx-auto">
            <h2 class="text-xl font-bold">More Info</h2><p>
                I am Anirudha Pratap Sah a webdeveloper. My name is commonly
                misspelled as Anirudh which leads to people not being able to
                find me. This page allows people to correct that mistake and get
                to my actual website.
            </p>
        </div>
        <div class="px-2 mt-4 max-w-6xl mx-auto">
            <h2 class="text-xl font-bold">Who am I</h2><p>
                I'm a selftaught fullstack web developer from India who loves to
                build things. Some of my skills are HTML CSS & JS (obviously),
                React, Ruby on Rails, Elixir & Phoenix, Databases, UX.
            </p>
        </div>
    </body>
</html>
