---

---

<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <link rel="canonical" href="https://anirudha.pro" />
        <title>Anirudh Pratap Sah (APS)</title>
        <meta
            name="description"
            content="I'm Anirudh Pratap Sah (APS), A selftaught fullstack web developer from India who loves to build things.
You searched for 'Anirudh Pratap Sah' which is not the right spelling. Click to go to the right page. "
        />
        <meta
            name="keywords"
            content="Anirudh, Anirudh Pratap Sah, Anirudh Sah, Anirudh P Sah"
        />
        <meta
            property="og:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="og:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="og:image"
            content="https://anirudha.pro/openGraph.png"
        />
        <meta property="og:url" content="https://anirudha.pro/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:title"
            content="Anirudh Pratap Sah | Web Developer"
        />
        <meta
            property="twitter:description"
            content="I am Anirudh Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="twitter:image"
            content="https://anirudha.pro/openGraph.png"
        />
    </head>
    <body class="bg-black text-white font-inter">
        <main class="h-screen w-full grid place-items-center">
            <div class="text-center max-w-3xl px-4">
                <h1 class="text-3xl sm:text-5xl">
                    Hey, it's Anirudha Pratap Sah
                </h1>
                <p class="md:text-lg mt-3">
                    You are here because you searched for 'Anirudh Pratap Sah'
                    but the correct spelling is 'Anirudha'. Click the button
                    below to go the right site.
                </p>
                <button
                    class="bg-[#72A6BC] text-black text-xl mt-4 py-3 px-6 rounded-2xl"
                    ><a href="/">Go to main site</a></button
                >
            </div>
        </main>
    </body>
</html>
