---
---
<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <meta
            name="description"
            content="I am Anirudha Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            name="keywords"
            content="Anirudha, APS, Anirudha Pratap Sah, Anirudha Sah, Anirudha P Sah, aps6"
        />
        <meta property="og:title" content="Anirudha Pratap Sah | Web Developer" />
        <meta
            property="og:description"
            content="I am Anirudha Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="og:image"
            content="https://anirudha.pro/openGraph.png"
        />
        <meta property="og:url" content="https://anirudha.pro/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:title"
            content="Anirudha Pratap Sah | Web Developer"
        />
        <meta
            property="twitter:description"
            content="I am Anirudha Pratap Sah (APS) a selftaught fullstack web developer from India."
        />
        <meta
            property="twitter:image"
            content="https://anirudha.pro/openGraph.png"
        />
        <title>Anirudha Pratap Sah (APS)</title>
    </head>
    <body class="bg-white text-black dark:bg-black dark:text-white font-inter">
      <slot />
    </body>
</html>
